<%- include('layouts/admin/header.html'); -%>

<article>
  <hgroup>
    <h1>Sign in</h1>
    <h2>A minimalist login page example.</h2>
  </hgroup>
  <form action="#" method="post">
    <!-- Email Input -->
    <div>
      <label for="email">Email address</label>
      <input type="email" id="email" name="email" placeholder="Email address" aria-label="Email address" autocomplete="username" required>
    </div>
    <!-- Password Input -->
    <div>
      <label for="password">Password</label>
      <input type="password" id="password" name="password" placeholder="Password" aria-label="Password" autocomplete="current-password" required>
    </div>
    <!-- Remember Me Checkbox -->
    <fieldset>
      <label for="remember">
        <input type="checkbox" id="remember" name="remember">
        Remember me
      </label>
    </fieldset>
    <!-- Submit Button -->
    <button type="submit">Login</button>
  </form>
</article>

<%- include('layouts/admin/footer.html'); -%>
