<%- include('layouts/header.html'); -%>

<div class="row">
  <article class="card col-6 offset-3">
    <header>
      <h2>Sign in</h2>
      <p class="text-light">Enter using your credentials</p>
    </header>

    <form action="#" method="post" class="mt-4">
      <label for="email" data-field>
        Email address
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Email address"
          aria-label="Email address"
          autocomplete="username"
          required
        />
      </label>

      <!-- Password Input -->
      <label for="password" data-field>
        Password
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Password"
          aria-label="Password"
          autocomplete="current-password"
          required
        />
      </label>

      <!-- Remember Me Checkbox -->
      <label for="remember" data-field>
        <input type="checkbox" role="switch" id="remember" name="remember">
        Remember me
      </label>
    </form>

    <footer class="hstack justify-end mt-4">
      <a class="outline" href="/">Cancel</a>
      <button type="submit">Save</button>
    </footer>
  </article>
</main>

<%- include('layouts/footer.html'); -%>
