<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vanilla Web Server</title>

  <link rel="stylesheet" href="/vendor/oat.min.css">
  <link rel="stylesheet" href="/assets/styles.css">
  <script src="/vendor/oat.min.js" defer></script>

  <%- viteAssetTags %>
</head>
<body>
  <nav data-topnav class="justify-between">
    <div class="hstack">
      <button data-sidebar-toggle aria-label="Toggle menu" class="outline">☰</button>

      <h3 style="margin: 0;">App Name</h3>
    </div>

    <div class="hstack">
      <ot-dropdown>
        <button popovertarget="theme-menu" class="outline small">
          Switch theme ▾
        </button>
        <menu popover="" id="theme-menu">
          <button role="menuitem" onclick="setDemoTheme('default')">Default</button>
          <button role="menuitem" onclick="setDemoTheme('slate')">Slate</button>
          <button role="menuitem" onclick="setDemoTheme('stone')">Stone</button>
          <button role="menuitem" onclick="setDemoTheme('rose')">Rose</button>
          <button role="menuitem" onclick="setDemoTheme('blue')">Blue</button>
          <button role="menuitem" onclick="setDemoTheme('green')">Green</button>
          <button role="menuitem" onclick="setDemoTheme('orange')">Orange</button>
        </menu>
      </ot-dropdown>
    </div>
  </nav>

  <main class="container">
